// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/{
    behaviors {
        th: tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <-1>;
            bindings = <&kp>, <&kp>;
        };

        az: a_z {
            compatible = "zmk,behavior-mod-morph";
            label = "A_Z";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp Z>;
            mods = <(MOD_LCTL)>;
        };

        sc: s_c {
            compatible = "zmk,behavior-mod-morph";
            label = "S_C";
            #binding-cells = <0>;
            bindings = <&kp S>, <&kp C>;
            mods = <(MOD_LCTL)>;
        };

        tp: t_p {
            compatible = "zmk,behavior-mod-morph";
            label = "T_P";
            #binding-cells = <0>;
            bindings = <&kp T>, <&kp P>;
            mods = <(MOD_LCTL)>;
        };

        gb: g_b {
            compatible = "zmk,behavior-mod-morph";
            label = "G_B";
            #binding-cells = <0>;
            bindings = <&kp G>, <&kp B>;
            mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home_layer {
            bindings = <

            &th TAB ESC &kp N1      &kp N2      &kp N3      &kp N4

            &kp Q       &kp W       &kp E       &kp R       &tp

            &az         &sc         &kp D       &kp F       &gb

                                                &kp LCTRL   &kp SPACE
            >;
        };
    };
};
