// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

 / {
    behaviors {
        sm: sl_mo {
            compatible = "zmk,behavior-hold-tap";
            label = "sm";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            bindings = <&mo>, <&sl>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_SEL {
            timeout-ms = <80>;
            layers = <0>;
            key-positions = <1 15>;
            bindings = <&to 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ALPHA_layer {
            bindings = <

            &kp P       &kp Y       &kp F       &kp G       &kp BSPC

            &kp A       &kp O       &kp I       &kp E       &kp U

            &kp Z       &kp X       &kp C       &kp V       &kp RET

                                                &kp SPACE   &sm 1 1
            >;
        };

        ALPHA2_layer {
            bindings = <

            &kp L       &kp K       &kp J       &kp H       &kp TAB

            &kp S       &kp D       &kp N       &kp T       &kp R

            &kp Q       &kp W       &kp M       &kp B       &kp DEL

                                                &trans      &trans
            >;
        };
    };
};
